<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= user.errors.count %> eraro(j) malpermesita tiun uzanton de savatoj:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :birthdate %>
    <%= f.text_field :birthdate, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.select :gender, User.genders.keys.map { |gender| [gender.titleize, gender] }, { prompt: true }, class: 'select2' %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :level %>
    <%= f.select :level, User.levels.keys.map { |level| [level.titleize, level] }, { prompt: true }, class: 'select2' %>
  </div>

  <%= f.fields_for :locales do |l| %>
    <div class="field">
      <%= l.label :country %>
      <%= l.select :country_acronym, CS.countries.map { |key, value| [value, key] }, { prompt: true }, class: 'country-select select2'  %>
    </div>

    <div class="field state-box" style="<%='display: none' if l.object.state_acronym.nil? %>">
      <%= l.label :state %>
      <%= l.select :state_acronym, CS.states(l.object.country_acronym).map { |key, value| [value, key] }, { prompt: true }, class: 'state-select select2'  %>
    </div>

    <div class="field city-box" style="<%='display: none' if l.object.city_name.nil? %>">
      <%= l.label :city %>
      <%= l.select :city_name, CS.cities(l.object.state_acronym, l.object.country_acronym).map { |value| [value, value] }, { prompt: true }, class: 'city-select select2'  %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :share_information %>
    <%= f.check_box :share_information %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
